---
import type { FrontmatterPage } from 'astro-boilerplate-components';
import {
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import { BlogCollection } from '@/components/BlogCollection';
// import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import type { OrizensPostFrontMatter } from '@/utils/Posts';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
};

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<OrizensPostFrontMatter>('./**/*.md');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description = 'lessons learned, best practices, thoughts and more.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title={`Oren Farchi Software Engineering Blog`}
      description='lessons learned, best practices, thoughts and more'
    />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <Section>
    <BlogCollection postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
