---
import {
  HiOutlineEnvelope,
  HiOutlineLink,
  HiOutlinePhone,
} from 'react-icons/hi2';

import { ProfileAvatar } from '@/components/profile';
import { Space } from '@/components/Space';
import Work from '@/partials/Work.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

import * as myCv from './cv.mdx';
import { works } from './work';

const title = 'Oren Farhi articles';
const { description } = AppConfig;
const data = myCv.frontmatter;

const details = [
  [HiOutlineEnvelope, data.email],
  [HiOutlineLink, data.link],
  [HiOutlinePhone, data.mobile[0]],
  [HiOutlinePhone, data.mobile[1]],
];
---

<Base head={{ title, description }} empty bgColor='bg-white'>
  <Space className='rounded-none p-6' variant='space'>
    <div class='grid justify-center justify-items-center'>
      <ProfileAvatar />
      <h1 class='my-3 text-6xl font-semibold'>{data.name}</h1>
      <h2 class='text-2xl font-thin uppercase'>
        {data.role}
      </h2>
    </div>
    <div class='right-2 top-2 md:absolute'>
      <ul class='grid list-none gap-1 md:text-sm'>
        {details.map(([Icon, label]) => (
          <li>
            <Icon className="mr-1 inline" />
            {label}
          </li>
        ))}
      </ul>
    </div>
  </Space>
  <main
    class='mx-auto grid max-w-screen-lg gap-6 p-6 text-slate-700 md:grid-cols-1 lg:grid-cols-3'
  >
    <article class='col-span-2 grid gap-6'>
      <myCv.Content />

      <section>
        <h2 class='text-3xl'>Professional Profile</h2>
        <section class='rounded-xl bg-primaryAlpha p-6'>
          <p>
            Hi. I'm Oren - An experienced Software Engineer, focusing on Front
            End & Tech Leading, author of - <a
              class='underline hover:bg-primaryAlpha'
              href='https://link.springer.com/book/10.1007/978-1-4842-2620-9'
              target='_blank'
              >"Reactive Programming with Angular and NGRX"
            </a>, published by Springer, a dedicated professional helping others
            to produce
            <strong class='text-primary'>easy & maintainable</strong> code for applications,
            while focusing on delivering a <strong class='text-primary'
              >high quality
            </strong> and well tested code (since 2006).
          </p>
          <p>
            When consulting and developing, I follow simple principles:<br /> seeing
            the code as a live <strong class='text-primary'
              >reactive system
            </strong>, implementing best practices of software architecture,
            creating <strong class='text-primary'
              >modular &amp; testable code
            </strong>, Understanding the big picture while
            <strong class='text-primary'>breaking down complex problems</strong>
            to smaller challenges, keeping code and app <strong
              class='text-primary'
              >structure organized
            </strong> to let other developers easily understand and further extend
            it, <strong class='text-primary'>Automating</strong> development with
            CI/CD.
          </p>
          <p>
            Co-Founder of <a href='https://readm.app' target='_blank'
              >"ReadM"
            </a>
          </p>
        </section>
      </section>
      <section>
        <h2 class='text-3xl'>Work Experience</h2>
        <div class='grid gap-6'>
          {works.map((work) => <Work work={work} />)}
        </div>
      </section>
    </article>
    <aside>
      <section>
        <h2 class='text-3xl'>My Skills</h2>
        <div class='flex flex-wrap gap-3 rounded-xl bg-primaryAlpha p-6'>
          {data.skills.map((tag: string) => (
            <div class="rounded-xl bg-primary px-3 py-2 text-white">{tag}</div>
          ))}
        </div>
      </section>
    </aside>
  </main>
</Base>
