---
const { work } = Astro.props;
---

<section class='rounded-xl bg-primaryAlpha p-6 md:relative'>
  <h3 class='text-lg'>{work.role}</h3>
  <h4 class='uppercase text-primary'>{work.company}</h4>
  <aside
    class='uppercase text-primary md:absolute md:right-0 md:top-8 md:rounded-l-xl md:bg-primary md:px-3 md:py-1 md:text-white'
  >
    {work.date}
  </aside>
  <p>{work.tagline}</p>
  {work.projectsTitle ? (
    <>
      <h5 class="mt-3 italic">{work.projectsTitle}</h5>
      {work?.projects?.length && (
        <ul class="ml-6 list-disc">
          {work.projects.map((project: string) => (
            <li>{project}</li>
          ))}
        </ul>
      )}
    </>
  ) : null}
  {work.clientTitle ? (
    <>
      <h5 class="mt-3 italic">{work.clientTitle}</h5>
      {work?.clients?.length && (
        <ul class="ml-6 list-disc">
          {work.clients.map(([def, desc]: [string, string]) => (
            <li>
              <span class="text-primary">{def}</span> - {desc}
            </li>
          ))}
        </ul>
      )}
    </>
  ) : null}
</section>
